.wrapper {
  @apply hidden flex-col w-full items-center;
  @apply sm:flex;
}

.mobile__wrapper {
  @apply flex flex-col w-full items-center;
  @apply sm:hidden;
}

.banner {
  background-image: url(/src/PageHeader/gradient.jpeg);
  @apply w-full h-60 bg-cover bg-[50%] relative;
}

.mobile__banner {
  background-image: url(/src/PageHeader/gradient.jpeg);
  @apply w-full h-40 bg-cover bg-[50%] relative;
}

.outer__container {
  @apply flex flex-row gap-6 w-[88%] border-b border-solid border-b-gray-200 w-full;
  @apply sm:px-4 lg:px-24 ;
}

.outer__container--variant-banner-simple-centered, .outer__container--variant-banner-avatar-centered {
  @apply justify-center;
}

.avatar {
  @apply relative -mt-[44px];
}

.mobile__avatar {
  @apply absolute pl-4 mt-[110px];
}

.mobile__avatar-centered {
  @apply pl-0 left-1/2;
  transform: translateX(180deg);
  transform: translate(-50%, 0);
}

.avatar--variant-banner-avatar-centered {
  @apply absolute left-1/2 top-[90%];
  transform: translate(-50%, 0);
}

.container {
  @apply flex flex-col items-start gap-5 overflow-x-auto pt-0 pb-6 w-full;
}

.mobile__container {
  @apply flex flex-col items-start gap-4 self-stretch;
}

.mobile__container--variant-with-banner {
  @apply py-5 px-4;
}

.mobile__container--centered {
  @apply items-center justify-center;
}

.back__button__container {
  @apply flex self-stretch justify-start;
}

.back__button__container--variant-banner-avatar {
  @apply justify-end;
}

.container--variant-simple-or-avatar {
  @apply w-full;
}

.container--variant-banner-simple-or-banner-avatar {
  @apply pt-6;
}

.container--variant-banner-simple-centered {
  @apply pt-6 items-center;
}

.container--variant-banner-avatar-centered {
  @apply pt-6;
}

.content {
  @apply flex items-start gap-4 self-stretch;
}

.mobile__content {
  @apply flex flex-col items-start gap-4 self-stretch;
}

.mobile__content-padding-top {
  @apply pt-[44px];
}

.mobile__content-centered {
  @apply w-full justify-center items-center;
}

.content--variant-banner-simple-centered-or-banner-avatar-centered {
  @apply pt-8 flex-col items-center gap-5;
}

.content--no-breadcrum--variant-banner-avatar-centered {
  @apply pt-[90px];
}

.content--no-breadcrum--variant-banner-avatar {
  @apply pt-[20px];
}

.content--variant-banner-simple-centered {
  @apply pt-0;
}

.avatar__text__container {
  @apply flex items-center gap-5 flex-[1_0_0];
}

.mobile__avatar__text__container {
  @apply flex items-start gap-4 self-stretch;
}

.mobile__avatar__text__container-centered {
  align-self: unset;
}

.avatar__text__container--variant-banner-avatar-centered {
  @apply flex-col;
}

.text__container {
  @apply flex flex-col items-start gap-1 flex-[1_0_0];
}

.mobile__text__container {
  @apply flex flex-col items-start gap-1 self-stretch;
}

.mobile__text__container-centered {
  @apply items-center;
}

.text__container--variant-banner-simple-centered-banner-avatar-centered {
  @apply text-center;
}

.text {
  @apply self-stretch text-gray-900 text-3xl not-italic font-semibold leading-[38px];
}

.mobile__text {
  @apply text-gray-900 text-2xl not-italic font-semibold leading-8;
}

.supporting__text {
  @apply self-stretch text-gray-600 text-base not-italic font-normal leading-6;
}
