.wrapper {
  @apply inline-flex flex-col;
}

.wrapper--shape-half-circle {
  @apply gap-[3px];
}

.container {
  @apply relative inline-flex justify-center;
}

.container--shape-half-circle {
  @apply overflow-hidden;
}

.svg {
  transform: rotate(-90deg);
}

.svg--shape-half-circle {
  transform: rotate(180deg);
}

.text__container {
  @apply absolute left-1/2 top-1/2 flex flex-col justify-center items-center;
  transform: translate(-50%, -50%);
}

.text__container--shape-half-circle {
  @apply left-1/2 top-3/4;
}

.text__container--shape-half-circle-with-label {
  @apply left-1/2 top-[60%];
  transform: translate(-50%, -50%);
}

.label {
  @apply text-gray-600 text-center text-sm not-italic font-medium leading-5;
}

.label--size-xs-or-sm {
  @apply text-xs leading-[18px];
}

.percentage {
  @apply text-gray-900 text-[36px] not-italic font-medium leading-[44px] -tracking-[0.72px];
}

.percentage--size-xxs {
  @apply text-gray-700 text-sm leading-5 tracking-normal;
}

.percentage--size-xs {
  @apply text-2xl leading-8 tracking-normal;
}

.percentage--size-sm {
  @apply text-3xl leading-[38px] tracking-normal;
}

.percentage--size-lg {
  @apply text-5xl leading-[60px] -tracking-[0.96px];
}

.label__bottom {
  @apply text-gray-600 text-center text-xs not-italic font-medium leading-[18px];
}

.label__bottom--shape-circle {
  @apply mt-1.5;
}
