.hint {
  @apply mt-[6px] text-sm font-normal leading-5 text-gray-600;
}

.hint--no-error {
  @apply text-gray-600;
}

.hint--has-error {
  @apply text-error-600;
}

.label {
  @apply mb-[6px] block text-sm font-medium leading-5 text-gray-700;
}

.container {
  @apply flex flex-col;
}

.input__container {
  @apply flex items-center bg-white border border-solid border-gray-200 rounded;
}

.input__container:focus-within {
  @apply border-primary-300 shadow-[0_0_0_4px_theme("colors.primary.100/100%")];
}

.input__container--disabled {
  @apply bg-gray-50;
}

.input__container--has-error {
  @apply border-error-300;
}

.input__container--has-error:focus-within {
  @apply border-error-300 shadow-[0_0_0_4px_theme("colors.error.100/100%")];
}

.input {
  @apply rounded disabled:bg-gray-50 w-full border-none bg-white px-[10px] py-2 text-sm font-normal text-gray-900 transition-all duration-150 placeholder:text-gray-500 !outline-none !border-0 focus:!border-0 !shadow-[none] focus:!outline-none;
  box-shadow: none !important;
  border: 0 !important;
}

.prefix {
  @apply flex items-center pl-3 shrink-0 h-9 rounded;
}

.suffix {
  @apply flex items-center pr-3 shrink-0 h-9 rounded;
}

.prefix--with-divider {
  @apply !border-r-gray-200 pr-3;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.suffix--with-divider {
  @apply !border-l-gray-200 pl-3;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}