.react-datepicker {
  @apply flex;
}

.react-datepicker__month-container {
  @apply border-r;
  @apply border-gray-200;
}

.react-datepicker__current-month {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply text-sm;
  @apply text-gray-600;
  @apply py-3;
}

.react-datepicker__week {
  @apply flex;
}

.react-datepicker__day-names {
  @apply flex;
  @apply bg-gray-100;
  @apply px-2;
  @apply gap-1;
}

.react-datepicker__day-name {
  @apply shrink-0;
  @apply w-10;
  @apply flex-1;
  @apply text-gray-600;
  @apply text-xs;
  @apply font-semibold;
  @apply py-2;
  @apply flex;
  @apply justify-center;
  @apply select-none;
}


.react-datepicker__month {
  @apply p-2;
}

.react-datepicker__week {
  @apply flex;
  @apply gap-1;
}

.react-datepicker__day {
  @apply text-gray-600;
  @apply text-xs;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply w-10;
  @apply h-10;
  @apply rounded-full;
  @apply select-none;
  @apply cursor-pointer;
}

.react-datepicker__day:not(.react-datepicker__day--disabled):not(.react-datepicker__day--selected):hover {
  @apply bg-brand-300;
  @apply text-white;
  @apply cursor-pointer;
}

.react-datepicker__day--disabled {
  @apply text-gray-300;
}

.react-datepicker__day--today {
  @apply font-semibold;
  @apply underline;
  @apply underline-offset-4;
}

.react-datepicker__day--selected {
  @apply bg-experiment;
  @apply text-white;
  @apply cursor-default;
}

.react-datepicker__time-container  {
  @apply flex;
  @apply flex-col;
  @apply flex-1;
  @apply shrink-0;
}

.react-datepicker__time {
  @apply flex;
  @apply overflow-hidden;
  @apply flex-1;
}

.react-datepicker-time__header {
  @apply flex;
  @apply justify-center;
  @apply items-center; 
  @apply text-sm;
  @apply text-gray-600;
  @apply min-h-[59px];
  @apply shrink-0;
  @apply border-b;
  @apply border-gray-200;
  @apply font-semibold;
}

.react-datepicker__time-box {
  @apply h-[228px];
  @apply flex-1;
}


.react-datepicker__time-list {
  @apply overflow-y-auto;
  @apply p-2;
  @apply shrink-0;
  @apply flex-1;
  @apply h-full;
  @apply flex;
  @apply flex-col;
  @apply gap-2;
}

.react-datepicker__time-list-item {
  @apply flex;
  @apply justify-center;
  @apply items-center; 
  @apply text-xs;
  @apply text-gray-600;
  @apply rounded-full;
  @apply cursor-pointer;
  @apply px-2;
  @apply py-1;
}

.react-datepicker__time-list-item--selected, .react-datepicker__time-list-item:hover {
  @apply bg-experiment;
  @apply text-white;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}