.match-card {
  @apply border border-gray-300 rounded flex flex-row w-full bg-white;
}

.match-card__number {
  @apply text-sm font-semibold leading-none w-8 inline-flex items-center justify-center border-r border-gray-300;
}

.match-card--compact .match-card__number {
  @apply w-[26px];
}

.match-card__content {
  @apply flex-1;
}

.content__header {
  @apply bg-gray-200 p-2;
}

.match-card--compact .content__header {
  @apply p-1;
}

.header--text--wrapper {
  @apply flex flex-row justify-between;
}

.header--text {
  @apply text-sm not-italic font-semibold leading-5 text-gray-900 overflow-hidden line-clamp-1;
}

.match-card--compact .header--text {
  @apply text-xs leading-[18px];
}

.content--info {
  @apply p-2 border-t border-gray-300 flex flex-row justify-between;
}

.match-card--compact .content--info {
  @apply p-1;
}

.info--inner {
  @apply flex gap-1 divide-x divide-gray-300;
}

.info--item {
  @apply font-normal text-sm leading-5 pl-1;
}

.info--inner span:first-child {
  @apply pl-0;
}

.match-card--compact .info--item {
  @apply text-xs leading-[18px];
}

.team-row {
  @apply h-14 flex flex-1 justify-between border-t border-gray-300;
}

.match-card--compact .team-row {
  @apply h-10;
}

.avatar {
  @apply border;
}

.avatar--winner {
  @apply border-green-600;
}

.avatar--loser {
  @apply border-error-600;
}

.avatar--indicator {
  @apply absolute -bottom-[0.5px] -right-[0.5px];
}

.match-card--compact .avatar--indicator {
  @apply absolute bottom-[0px] right-[0px];
}

.team-row-info {
  @apply flex flex-1 items-center pl-2 gap-1;
}

.match-card--compact .team-row-info {
  @apply pl-1;
}

.team-avatars {
  @apply flex gap-1;
}

.player-percentage {
  @apply text-sm leading-5 font-normal text-gray-500 flex items-center;
}

.player-names-wrapper {
  @apply flex gap-0.5 text-gray-900;
} 

.match-card--compact .player-percentage {
  @apply text-xs leading-4;
}

.player-percentage--larger {
  @apply text-green-600;
}

.player-info {
  @apply flex items-center gap-1;
}

.player-names {
  @apply flex flex-col;
}

.player-info-name {
  @apply inline-flex shrink-0 gap-2 text-sm;
}

.player-info-name-wrapper {
  @apply text-gray-900 shrink-0;
}

.match-card--compact .player-info-name {
  @apply text-xs;
}

.player-first-name {
  @apply font-normal inline-flex;
}

.match-card--compact .player-first-name {
  @apply text-xs;
}

.player-last-name {
  @apply font-semibold;
}

.player-sufix-name {
  @apply font-normal;
}

.player-tag {
  @apply rounded-full text-xs pt-0.5 px-4 h-[22px] inline-flex items-center bg-gray-900 text-white;
}

.match-card--compact .player-tag {
  @apply pt-0;
}

.scores-container {
  @apply flex ml-auto overflow-hidden;
}

.scores {
  @apply relative text-sm leading-5 font-bold inline-flex justify-center items-center w-[26px] border-l border-gray-100;
}

.match-card--compact .scores {
  @apply text-xs w-6;
}

.scores-winner {
  @apply text-green-600 bg-green-50 z-10;
}

.scores-loser, .scores-in-progress {
  @apply text-gray-400 bg-white;
}

.scores-winner-inner {
  @apply border-x flex items-center justify-center border-white absolute inset-y-0 left-[-1px] right-[-1px];
}

.card--footer {
  @apply flex justify-between border-t border-gray-300 px-[6px] h-10;
}

.match-card--compact .card--footer {
  @apply h-[26px];
}

.footer--time {
  @apply flex items-center text-sm gap-1;
}

.match-card--compact .footer--time {
  @apply text-xs
}

.live__text {
  @apply min-w-[57px] table-cell bg-[#E31B54] rounded-xl px-2 text-white text-sm not-italic font-semibold align-middle;
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  height: 17px;
  line-height: 1rem;
  line-height: 18px;
  min-width: 48px;
  padding-left: .375rem;
  padding-right: .375rem;
}

.delayed__text {
  @apply min-w-[57px] table-cell bg-gray-500 rounded-xl px-2 text-white text-sm not-italic font-semibold align-middle;
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  height: 17px;
  line-height: 1rem;
  line-height: 18px;
  min-width: 57px;
  padding-left: .375rem;
  padding-right: .375rem;
}

.match-card--compact .live__text, .match-card--compact .delayed__text {
  @apply min-w-[47px] h-[17px] text-xs leading-[18px] px-1.5;
}

.card--footer--hidden {
  @apply hidden sm:flex;
}

.card--footer--end {
  @apply justify-end;
}

.details--URL {
  @apply text-experiment  text-sm not-italic font-semibold leading-5 line-clamp-1;
}

.details--URL--compact {
  @apply text-experiment text-xs not-italic font-semibold leading-[18px] line-clamp-1;
}
